* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserat;
  font-weight: 600;
  cursor: default;
  scroll-behavior: smooth;
  list-style-type: none;
}

@font-face {
  font-family: Montserat;
  src: url("../../../assets/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Montserat;
  src: url("../../../assets/fonts/Montserrat-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: Montserat;
  src: url("../../../assets/fonts/Montserrat-ExtraBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Montserat;
  src: url("../../../assets/fonts/Montserrat-Medium.ttf");
  font-weight: 600;
}
.courses {
  background-color: #fff;
  background-image: none;
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: 0;
  height: 100vh;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
}

.courses__search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.courses__search-input {
  width: 70%;
  height: 60px;
}

.courses__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.courses__title {
  font-size: 35px;
  color: #283a97;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
}